.flex{
    display: flex;
    width: 300px;
    border: tan 1px solid;
}
.flex > div{
    border:salmon 1px solid;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column{
    flex-direction: column;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-flex-wrap{
    flex-wrap: wrap;
}
.flex-flex-wrap > div{
    width: 140px;
}